---
import "@fontsource-variable/inter"
import "../css/tailwind.css"
import "../css/page.css"
import { site } from "~/config"

interface Props {
  title: string
  description?: string
  favicon?: string | null
}

const { title, favicon } = Astro.props

const description = Astro.props.description || site.description
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} - {description}</title>
    {
      favicon && (
        <link rel="icon" href={favicon} type="image/jpeg" sizes="80x80" />
      )
    }
    <meta name="twitter:card" content="summary" />
    <meta name="og:title" content={title} />
    <meta name="og:site_name" content={title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
  </head>
  <body>
    <div class="max-w-3xl mx-auto p-5 py-20 text-center">
      <slot />

      <footer class="mt-20 text-zinc-500 text-sm">
        &copy; <a href="/" class="hover:underline">EGOIST</a>
      </footer>
    </div>

    {import.meta.env.PROD && <script defer src="/_vercel/insights/script.js" />}
  </body>
</html>
