---
import "@fontsource-variable/inter"
import "../css/tailwind.css"
import "../css/page.css"
import dayjs from "dayjs"
import avatar from "~/assets/avatar.jpeg"
import SidebarNav from "~/components/SidebarNav.astro"
import { site } from "~/config"
import { Image } from "astro:assets"
import clsx from "clsx"
import type { MarkdownHeading } from "astro"

interface Props {
  title?: string
  description?: string
  meta?: {
    title?: string
  }
  date?: string | Date
  headings?: MarkdownHeading[]
}

const { title, date, meta, headings } = Astro.props

const documentTitle = meta?.title || `${title} - ${site.title}`
const description = Astro.props.description || site.description
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{documentTitle}</title>
    <link rel="icon" href="/favicon_v3.jpeg" type="image/jpeg" sizes="80x80" />
    <meta name="twitter:card" content="summary" />
    <meta name="og:title" content={title} />
    <meta name="og:site_name" content={site.title} />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for EGOIST's Blog"
      href="/rss.xml"
    />
  </head>
  <body class="md:bg-stone-50"
    ><div class="flexflex-col md:flex-row antialiased max-w-screen-lg mx-auto">
      <div class="shrink-0 md:w-[220px] md:fixed top-0 bottom-0">
        <div class="p-5 md:py-8">
          <h1 class="md:px-1">
            <a href="/">
              <Image
                src={avatar}
                class="w-10 h-10 md:w-12 md:h-12 rounded-xl"
                alt="egoist"
              />
            </a>
          </h1>
          <SidebarNav />

          {
            headings && headings.length > 2 && (
              <div class="hidden absolute pr-8 bottom-0 md:inline-block w-full">
                <div class="bg-white overflow-hidden border border-b-0 rounded-t-lg shadow-sm ">
                  <h4 class="px-[10px] border-b h-9 text-sm font-medium flex items-center leading-none">
                    Table of Contents
                  </h4>
                  <ul class="text-sm py-1">
                    {headings.map((heading) => {
                      return (
                        <li>
                          <a
                            class="pr-[10px] hover:bg-stone-100 h-7 items-center flex"
                            href={`#${heading.slug}`}
                            style={{
                              paddingLeft: `${(heading.depth - 1) * 10}px`,
                            }}
                          >
                            <span class="truncate">{heading.text}</span>
                          </a>
                        </li>
                      )
                    })}
                  </ul>
                </div>
              </div>
            )
          }
        </div>
      </div>
      <div class="grow md:ml-[220px] md:min-h-dvh md:p-5 md:flex flex-col">
        <div
          class="p-5 grow shadow-sm bg-white md:p-10 md:h-full md:border rounded-lg"
        >
          {title && <h2 class="text-4xl font-extrabold">{title}</h2>}
          {
            date && (
              <div class={clsx("relative flex items-center", title && "mt-5")}>
                <span class="relative z-10 mr-2 inline-flex h-7 items-center bg-zinc-100 rounded-lg px-2 text-sm">
                  {dayjs(date).format("YYYY-MM-DD")}
                </span>
                <div class="h-[3px] flex-1 bg-zinc-50" />
              </div>
            )
          }
          <div class={clsx((title || date) && "mt-10")}>
            <slot />
          </div>
        </div>
      </div>
    </div>

    {import.meta.env.PROD && <script defer src="/_vercel/insights/script.js" />}
  </body>
</html>
