---
import { Image } from "@astrojs/image/components";
import AppLayout from "~/layouts/AppLayout.astro";
import toolcatIcon from "~/assets/toolcat-icon.png";
import { AppDownloadButton } from "~/components/AppDownloadButton";
import { getImage } from "@astrojs/image";
import { AppPreviews } from "~/components/AppPreviews";

const desc = `Developer tools you'll absolutely love`;

const favicon = await getImage({
  src: import("~/assets/toolcat-icon.png"),
  alt: "favicon",
  width: 80,
  height: 80,
});

const previews = [
  {
    name: "Lorem Generator",
    image: await getImage({
      src: import("~/assets/toolcat-preview-lorem-generator.png"),
      alt: "toolcat preview lorem generator",
      width: 1200,
      height: undefined,
    }),
  },
  {
    name: "Inspect Keyboard Event",
    image: await getImage({
      src: import("~/assets/toolcat-preview-keyboard-event.png"),
      alt: "toolcat preview keyboard event",
      width: 1200,
      height: undefined,
    }),
  },
  {
    name: "GPT Playground",
    image: await getImage({
      src: import("~/assets/toolcat-preview-gpt-playground.png"),
      alt: "toolcat preview gpt playground",
      width: 1200,
      height: undefined,
    }),
  },
];
---

<AppLayout title="Toolcat" description={desc} favicon={favicon.src}>
  <div>
    <Image
      src={toolcatIcon}
      alt="toolcat icon"
      class="w-20 h-20 rounded-xl mx-auto shadow-lg border"
    />
  </div>
  <h1 class="text-6xl font-extrabold mt-5">Toolcat</h1>
  <h2 class="mt-3 text-zinc-500 text-lg">{desc}</h2>
  <div class="flex justify-center mt-5">
    <AppDownloadButton client:visible />
  </div>
  <AppPreviews previews={previews} client:visible />
</AppLayout>
